# WHO Life Expectancy Data Exploration & Cleaning

### Data Exploration

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows',200)
pd.set_option('display.max_columns',200)

In [2]:
#Importing data set

df = pd.read_csv(r'/Users/miguel/Desktop/CareerFoundry Bootcamp/Data Immersion/A6 Life Expectancy Project/02 Data/Original Data/Life Expectancy Data.csv', index_col = False)

In [3]:
df.shape

(2938, 22)

In [4]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [6]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [7]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

### Data Cleaning

In [8]:
# Checking for duplicates

df.duplicated().any()

False

In [9]:
# Renaming columns

df.rename(columns={'Life expectancy ': 'Life_expectancy'}, inplace=True)
df.rename(columns={'Adult Mortality': 'Adult_mortality'}, inplace=True)
df.rename(columns={'infant deaths': 'Infant_mortality'}, inplace=True)
df.rename(columns={'Alcohol': 'Alcohol_consumption'}, inplace=True)
df.rename(columns={'percentage expenditure': 'Health_expenditure'}, inplace=True)
df.rename(columns={'Hepatitis B': 'HepB_immunization'}, inplace=True)
df.rename(columns={'Measles ': 'Measles_cases'}, inplace=True)
df.rename(columns={'under-five deaths ': 'Under_5_deaths'}, inplace=True)
df.rename(columns={' BMI ': 'BMI'}, inplace=True)
df.rename(columns={'Polio': 'Polio_immunization'}, inplace=True)
df.rename(columns={'Total expenditure': 'Total_health_expenditure'}, inplace=True)
df.rename(columns={'Diphtheria ': 'Diphtheria_immunization'}, inplace=True)
df.rename(columns={' HIV/AIDS': 'HIV_AIDS_deaths'}, inplace=True)
df.rename(columns={'GDP': 'GDP_per_capita'}, inplace=True)
df.rename(columns={' thinness  1-19 years': 'Thinness_1_19_years'}, inplace=True)
df.rename(columns={' thinness 5-9 years': 'Thinness_5_9_years'}, inplace=True)
df.rename(columns={'Income composition of resources': 'Human_development_index'}, inplace=True)
df.rename(columns={'Schooling': 'Schooling_years'}, inplace=True)

In [10]:
# Checking work

df.head()

,Country,Year,Status,Life_expectancy,Adult_mortality,Infant_mortality,Alcohol_consumption,Health_expenditure,HepB_immunization,Measles_cases,BMI,Under_5_deaths,Polio_immunization,Total_health_expenditure,Diphtheria_immunization,HIV_AIDS_deaths,GDP_per_capita,Population,Thinness_1_19_years,Thinness_5_9_years,Human_development_index,Schooling_years
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [12]:
# Checking country names

df["Country"].value_counts()

Country
Afghanistan                                             16
Peru                                                    16
Nicaragua                                               16
Niger                                                   16
Nigeria                                                 16
Norway                                                  16
Oman                                                    16
Pakistan                                                16
Panama                                                  16
Papua New Guinea                                        16
Paraguay                                                16
Philippines                                             16
Lebanon                                                 16
Poland                                                  16
Portugal                                                16
Qatar                                                   16
Republic of Korea                                       16
Republic of Moldova                                     16
Romania                                                 16
Russian Federation                                      16
Rwanda                                                  16
Saint Lucia                                             16
New Zealand                                             16
Netherlands                                             16
Nepal                                                   16
Namibia                                                 16
Liberia                                                 16
Albania                                                 16
Lithuania                                               16
Luxembourg                                              16
Madagascar                                              16
Malawi                                                  16
Malaysia                                                16
Maldives                                                16
Mali                                                    16
Malta                                                   16
Mauritania                                              16
Mauritius                                               16
Mexico                                                  16
Micronesia (Federated States of)                        16
Mongolia                                                16
Montenegro                                              16
Morocco                                                 16
Mozambique                                              16
Myanmar                                                 16
Saint Vincent and the Grenadines                        16
Samoa                                                   16
Sao Tome and Principe                                   16
The former Yugoslav republic of Macedonia               16
Togo                                                    16
Tonga                                                   16
Trinidad and Tobago                                     16
Tunisia                                                 16
Turkey                                                  16
Turkmenistan                                            16
Uganda                                                  16
Ukraine                                                 16
United Arab Emirates                                    16
United Kingdom of Great Britain and Northern Ireland    16
United Republic of Tanzania                             16
United States of America                                16
Uruguay                                                 16
Uzbekistan                                              16
Vanuatu                                                 16
Venezuela (Bolivarian Republic of)                      16
Viet Nam                                                16
Yemen                                                   16
Zambia                                                  16
Timor-Leste                                             16
Thailand                                                16
Saudi Arabia                                            16
Tajikistan                                              16
Senegal                                                 16
Serbia                                                  16
Seychelles                                              16
Sierra Leone                                            16
Singapore                                               16
Slovakia                                                16
Slovenia                                                16
Solomon Islands                                         16
Somalia                                                 16
South Africa                                            16
South Sudan                                             16
Spain                                                   16
Sri Lanka                                               16
Sudan                                                   16
Suriname                                                16
Swaziland                                               16
Sweden                                                  16
Switzerland                                             16
Syrian Arab Republic                                    16
Lesotho                                                 16
Libya                                                   16
Latvia                                                  16
China                                                   16
Burundi                                                 16
Côte d'Ivoire                                           16
Cabo Verde                                              16
Cambodia                                                16
Cameroon                                                16
Canada                                                  16
Central African Republic                                16
Chad                                                    16
Chile                                                   16
Colombia                                                16
Bulgaria                                                16
Comoros                                                 16
Congo                                                   16
Costa Rica                                              16
Croatia                                                 16
Cuba                                                    16
Cyprus                                                  16
Czechia                                                 16
Democratic People's Republic of Korea                   16
Democratic Republic of the Congo                        16
Burkina Faso                                            16
Brunei Darussalam                                       16
Lao People's Democratic Republic                        16
Bahrain                                                 16
Algeria                                                 16
Angola                                                  16
Antigua and Barbuda                                     16
Argentina                                               16
Armenia                                                 16
Australia                                               16
Austria                                                 16
Azerbaijan                                              16
Bahamas                                                 16
Bangladesh                                              16
Brazil                                                  16
Barbados                                                16
Belarus                                                 16
Belgium                                                 16
Belize                                                  16
Benin                                                   16
Bhutan                                                  16
Bolivia (Plurinational State of)                        16
Bosnia and Herzegovina                                  16
Botswana                                                16
Denmark                                                 16
Djibouti                                                16
Guinea-Bissau                                           16
Ireland                                                 16
Guyana                                                  16
Haiti                                                   16
Honduras                                                16
Hungary                                                 16
Iceland                                                 16
India                                                   16
Indonesia                                               16
Iran (Islamic Republic of)                              16
Iraq                                                    16
Israel                                                  16
Guatemala                                               16
Italy                                                   16
Jamaica                                                 16
Japan                                                   16
Jordan                                                  16
Kazakhstan                                              16
Kenya                                                   16
Kiribati                                                16
Kuwait                                                  16
Kyrgyzstan                                              16
Guinea                                                  16
Zimbabwe                                                16
Grenada                                                 16
France                                                  16
Dominican Republic                                      16
Ecuador                                                 16
Egypt                                                   16
El Salvador                                             16
Equatorial Guinea                                       16
Eritrea                                                 16
Estonia                                                 16
Ethiopia                                                16
Fiji                                                    16
Greece                                                  16
Finland                                                 16
Gabon                                                   16
Gambia                                                  16
Georgia                                                 16
Germany                                                 16
Ghana                                                   16
Tuvalu                                                   1
Cook Islands                                             1
Marshall Islands                                         1
Monaco                                                   1
Palau                                                    1
Niue                                                     1
San Marino                                               1
Nauru                                                    1
Saint Kitts and Nevis                                    1
Dominica                                                 1
Name: count, dtype: int64

In [13]:
# Correcting country names

# List of country replacements
country_replacements = {
    'Micronesia (Federated States of)': 'Micronesia',
    'The former Yugoslav republic of Macedonia': 'Macedonia',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Viet Nam': 'Vietnam',
    'Bolivia (Plurinational State of)': 'Bolivia',
    'Iran (Islamic Republic of)': 'Iran'
}

# Function to replace words in a given text
def replace_words(text):
    for old_word, new_word in country_replacements.items():
        text = text.replace(old_word, new_word)
    return text

# Apply the function to the specified column in the DataFrame
df['Country'] = df['Country'].apply(replace_words)

# Print the updated DataFrame
print(df)

          Country  Year      Status  Life_expectancy  Adult_mortality  \
0     Afghanistan  2015  Developing             65.0            263.0
1     Afghanistan  2014  Developing             59.9            271.0
2     Afghanistan  2013  Developing             59.9            268.0
3     Afghanistan  2012  Developing             59.5            272.0
4     Afghanistan  2011  Developing             59.2            275.0
...           ...   ...         ...              ...              ...
2933     Zimbabwe  2004  Developing             44.3            723.0
2934     Zimbabwe  2003  Developing             44.5            715.0
2935     Zimbabwe  2002  Developing             44.8             73.0
2936     Zimbabwe  2001  Developing             45.3            686.0
2937     Zimbabwe  2000  Developing             46.0            665.0

      Infant_mortality  Alcohol_consumption  Health_expenditure  \
0                   62                 0.01           71.279624
1                   64                 0.01           73.523582
2                   66                 0.01           73.219243
3                   69                 0.01           78.184215
4                   71                 0.01            7.097109
...                ...                  ...                 ...
2933                27                 4.36            0.000000
2934                26                 4.06            0.000000
2935                25                 4.43            0.000000
2936                25                 1.72            0.000000
2937                24                 1.68            0.000000

      HepB_immunization  Measles_cases   BMI  Under_5_deaths  \
0                  65.0           1154  19.1              83
1                  62.0            492  18.6              86
2                  64.0            430  18.1              89
3                  67.0           2787  17.6              93
4                  68.0           3013  17.2              97
...                 ...            ...   ...             ...
2933               68.0             31  27.1              42
2934                7.0            998  26.7              41
2935               73.0            304  26.3              40
2936               76.0            529  25.9              39
2937               79.0           1483  25.5              39

      Polio_immunization  Total_health_expenditure  Diphtheria_immunization  \
0                    6.0                      8.16                     65.0
1                   58.0                      8.18                     62.0
2                   62.0                      8.13                     64.0
3                   67.0                      8.52                     67.0
4                   68.0                      7.87                     68.0
...                  ...                       ...                      ...
2933                67.0                      7.13                     65.0
2934                 7.0                      6.52                     68.0
2935                73.0                      6.53                     71.0
2936                76.0                      6.16                     75.0
2937                78.0                      7.10                     78.0

      HIV_AIDS_deaths  GDP_per_capita  Population  Thinness_1_19_years  \
0                 0.1      584.259210  33736494.0                 17.2
1                 0.1      612.696514    327582.0                 17.5
2                 0.1      631.744976  31731688.0                 17.7
3                 0.1      669.959000   3696958.0                 17.9
4                 0.1       63.537231   2978599.0                 18.2
...               ...             ...         ...                  ...
2933             33.6      454.366654  12777511.0                  9.4
2934             36.7      453.351155  12633897.0                  9.8
2935             39.8       57.348340    125525.0                  1.2
2936             42.1      548.587312  12366165.0                  1.6
2937             43.5      547.358878  12222251.0                 11.0

      Thinness_5_9_years  Human_development_index  Schooling_years
0                   17.3                    0.479             10.1
1                   17.5                    0.476             10.0
2                   17.7                    0.470              9.9
3                   18.0                    0.463              9.8
4                   18.2                    0.454              9.5
...                  ...                      ...              ...
2933                 9.4                    0.407              9.2
2934                 9.9                    0.418              9.5
2935                 1.3                    0.427             10.0
2936                 1.7                    0.427              9.8
2937                11.2                    0.434              9.8

[2938 rows x 22 columns]

In [14]:
# Exporting dataframe with clean data
df.to_csv(r'/Users/miguel/Desktop/CareerFoundry Bootcamp/Data Immersion/A6 Life Expectancy Project/02 Data/Prepared Data/life_expectancy_clean.csv')